<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación empleado</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/formularioEmpleado.css">
    <script src="https://kit.fontawesome.com/c9d22b43b9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/CrearEmpleado.css">
    

</head>
<body>
    <div class="navegacion">
        <%- include('../partials/navegacion') %>
    <div class="form">


 
    <h1>Formulario creación Empleado</h1>

    <form action="/administrador/crear" method="POST">

        <div class ="espacio">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre">
        </div>
        <div>
            <label for="edad">Edad</label>
            <input type="number" name="edad" id="edad">
            
        </div>
        
        <div class ="espacio">
            <label for="correo">Correo</label>
            <input type="email" name="correo" id="correo">
            
        </div>

        <div class ="espacio">
            <label for="sede">Sede </label>
            <select name="sede" id="sede">
                <option value="Cedritos">Cedritros</option>
                <option value="Chapinero">Chapinero</option>
                <option value="Bosa">Bosa</option>
            </select>
         
        </div>
        <div class ="espacio">
            <label for="rol">Rol </label>
            <select name="rol" id="rol">
                <option value="Administrador">Administrador</option>
                <option value="Empleado">Empleado</option>
                <option value="Salud">Salud</option>
            </select>
         
        </div>

        <div class ="espacio">
            <label for="usuario">Usuario</label>
            <input type="text" name="usuario" id="usuario">
        </div>

        <div class ="espacio">
            <label for="contra">Contraseña</label>
            <input type="password" name="contra" id="contra">
            
        </div> 
        
        <button type="submit">Crear</button>
    </form>
</div>
</body>
</html>