
    <nav>
        <a href="/administrador"><i class="fa-solid fa-user-gear"> </i>Administrador</a>
        <!-- Estadística -->
        <a href=""> <i class="fa-solid fa-wave-square"></i> Estadísticas</a> 
        <a href="/formularioEmpleado"><i class="fa-solid fa-file-pen"></i> Formulario Empleado</a>
        <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión</a>
        
    </nav>