<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/formularioEmpleado.css">
    <script src="https://kit.fontawesome.com/c9d22b43b9.js" crossorigin="anonymous"></script>
</head>
<body>
    <% if (locals.empleadoLogin) { %>
        <script>
         Swal.fire({
            icon: 'success',
            title: '¡Bienvenid@! <%= locals.empleadoLogin.nombre %>',
            text: 'Has iniciado sesión correctamente',
            showConfirmButton: false,
            timer: 4000
         })
       </script>
     
    <% } %>
    <% if (locals.sede) { %>
        <h2> tu sede es <%= locals.sede%></h2>








    <% } else {  %>
        <h2> no hay sede</h2>
        <% } %>

    <%- include('partials/navegacion') %>


    <!-- Prueba -->

       

</body>
</html>