<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Empleado</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/formularioEmpleado.css">
    <script src="https://kit.fontawesome.com/c9d22b43b9.js" crossorigin="anonymous"></script>
 

</head>
<body>
    <%- include('partials/navegacion') %>
    <% if (locals.empleadoLogin) { %>
        <script>
         Swal.fire({
            icon: 'success',
            title: '¡Bienvenid@! <%= locals.empleadoLogin.nombre %>',
            text: 'Has iniciado sesión correctamente',
            showConfirmButton: false,
            timer: 4000
         })
       </script>
      
           <% if (locals.empleadoLogin.sede) { %>
            <h2> tu sede es <%= locals.sede%></h2>
            <form action="/formularioEmpleado" method="POST">


                <div class="form">
                    <div class ="espacio2">
                    <h2> Formulario </h2>
                </div>
                    <h3> Por favor seleccione la Zona en la que realizó la labor</h3>
                <div class ="espacio">
                    <label for="zona">Zona </label>
                    <select name="zona" id="zona">
                        <option value="Recepción">Recepción</option>
                        <option value="Zona común">Zona común</option>
                        <option value="Rectoria">Rectoria</option>
                        <option value="0" > Ninguno</option>
                    </select>
                </div>

                <!-- <div>
                    <label for="calZona">Calificación Zona </label>
                    <input type="number" name="calZona" id="calZona" placeholder="Calificación Zona">
                </div> -->

                        
                <div class ="espacio">
                    <h3> Por favor seleccione el tipo de control que realizó</h3>
                    <label for="tipoControl">Tipo Control </label>
                    <select name="tipoControl" id="tipoControl">
                        <option value="Limpieza">Limpieza</option>
                        <option value="Desinfección">Desinfección</option>
                        <option value="Higienización">Higienización</option>}
                        <option value="Dotación"> Dotación</option>
                        <option value="0" > Ninguno</option>

                    </select>
                </div>

                <!-- <div>
                    <label for="calTipoControl">Calificación Tipo Control </label>
                    <input type="number" name="calTipoControl" id="calTipoControl" placeholder="Calificación Tipo Control">
                </div> -->

                
                <button type="submit">Enviar</button>
            </form>
        </div>

        <% } else {  %>
            <h2> no hay sede</h2>
            <% } %>
     
    <% } %>


    


    <!-- Prueba -->

       

</body>
</html>