<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Empleado</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/formularioEmpleado.css">
    <script src="https://kit.fontawesome.com/c9d22b43b9.js" crossorigin="anonymous"></script>
 

</head>
<body>
    <%- include('partials/navegacion') %>
    <% if (locals.empleadoLogin) { %>
        <script>
         Swal.fire({
            icon: 'success',
            title: '¡Bienvenid@! <%= locals.empleadoLogin.nombre %>',
            text: 'Has iniciado sesión correctamente',
            showConfirmButton: false,
            timer: 4000
         })
       </script>
      
           <% if (locals.empleadoLogin.sede) { %>
            <h2> tu sede es <%= locals.sede%></h2>
            <form action="/formularioEmpleado" method="POST" id="formulario">


                <div class="form">
                    <div class ="espacio2">
                    <h2> Formulario </h2>
                </div>
                    <h3> Por favor seleccione la Zona en la que realizó la labor</h3>
                <div class ="espacio">
                    <label for="zona">Zona </label>
                    <select name="zona" id="zona">
                        <option value="Recepción">Recepción</option>
                        <option value="Preescolar">Preescolar </option>
                        <option value="ZonasComunes">Zona común</option>
                        <option value="Básicas" > Básicas</option>
                    </select>
                </div>
                <div id="select1"> </div>
                <script> 
                    let div = document.getElementById("select1");
                    let zona = document.getElementById("zona");
                    zona.addEventListener('change', (event) => {
                    let resultado = event.target.value;
                    console.log(resultado =='Recepción');
                    if( resultado == 'Recepción'){
                    console.log("hola");    
                    //Create array of options to be added
                    var array = ["Recepción","Rectoria","Dirección Administrativa","Zona común"];

              
                    
                    
                    //Create and append the options
                    for (var i = 0; i < array.length; i++) {
                        var option = document.createElement("input");
                        var label = document.createElement("label");

                        label.htmlFor = array[i];
                        label.innerHTML = array[i];
                        div.appendChild(label);
                        option.type = "checkbox";
                        option.name = zona;
                        option.id = array[i];
                        option.value = array[i];
                        option.text = array[i];
                        div.appendChild(option);
                    }

                    }

                    
                });
                </script>

 





                
                <button type="submit">Enviar</button>
            </form>
        </div>

        <% } else {  %>
            <h2> no hay sede</h2>
            <% } %>
     
    <% } %>


    


    <!-- Prueba -->

       

</body>
</html>