<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/css/formularioEmpleado.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/c9d22b43b9.js" crossorigin="anonymous"></script>
</head>
<body>
    <% if (locals.empleadoLogin) { %>
        <script>
         Swal.fire({
            icon: 'success',
            title: '¡Bienvenid@! <%= locals.empleadoLogin.nombre %>',
            text: 'Has iniciado sesión correctamente',
            showConfirmButton: false,
            timer: 4000
         })
       </script>
           <% if (locals.empleadoLogin.sede) { %>
            <h2> tu sede es <%= locals.sede%></h2>
            <form action="/formularioEmpleado" method="POST">


        
                <div class ="espacio">
                    <label for="zona">Zona </label>
                    <select name="zona" id="zona">
                        <option value="Recepción">Recepción</option>
                        <option value="Zona común">Zona común</option>
                        <option value="Rectoria">Rectoria</option>
                        <option value="0" > Ninguno</option>
                    </select>
                </div>

                <!-- <div>
                    <label for="calZona">Calificación Zona </label>
                    <input type="number" name="calZona" id="calZona" placeholder="Calificación Zona">
                </div> -->

                        
                <div class ="espacio">
                    <label for="tipoControl">Tipo Control </label>
                    <select name="tipoControl" id="tipoControl">
                        <option value="Limpieza">Limpieza</option>
                        <option value="Desinfección">Desinfección</option>
                        <option value="Higienización">Higienización</option>}
                        <option value="Dotación"> Dotación</option>
                        <option value="0" > Ninguno</option>

                    </select>
                </div>

                <!-- <div>
                    <label for="calTipoControl">Calificación Tipo Control </label>
                    <input type="number" name="calTipoControl" id="calTipoControl" placeholder="Calificación Tipo Control">
                </div> -->

                
                <button type="submit">Crear</button>
            </form>

        <% } else {  %>
            <h2> no hay sede</h2>
            <% } %>
     
    <% } %>


    <%- include('partials/navegacion') %>


    <!-- Prueba -->

       

</body>
</html>