<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos</title>
    <script src="https://kit.fontawesome.com/c9d22b43b9.js" crossorigin="anonymous"></script>

    

   
</head>
<body>

<div class="navegacion">
  <%- include('partials/navegacion') %>
    </div>
    
    <div class="login">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="animate-charcter"> Estadísticas</h3>
      <div class ="login-form">
    
    <h2> Selecciona la zona que quieres visualizar</h2>
  
    
 
    <div id="optionsMes">
      <select  name="mes" id="mes">
        <option value="nulo"> Seleciona un mes </option>
        <option value="Enero">Enero</option>
        <option value="Febrero">Febrero </option>
        <option value="Marzo">Marzo</option>
        <option value="Abril"> Abril</option>
        <option value="Mayo"> Mayo</option>
        <option value="Junio"> Junio</option>
        <option value="Julio"> Julio</option>
        <option value="Agosto"> Agosto</option>
        <option value="Septiembre"> Septiembre</option>
        <option value="Octubre"> Octubre</option>
        <option value="Noviembre"> Noviembre</option>
        <option value="Diciembre"> Diciembre</option>
      </select>
    </div>
   
    <h2 id="subtitulo"></h2>
    <% if (locals.datos) { %>
      <div class="login">
        <canvas id="barra"> </canvas>

          </div>
          
           <% var datosCanvas = [] %>
           <% for( let index = 0; index < datos.length; index++ ) { %>
                <% let obj = { nombre : datos[index].nombre, sede : datos[index].sede, zona: datos[index].zona, control: datos[index].tipoControl, mes: datos[index].mes, ano: datos[index].ano} %>
                <% datosCanvas.push(obj) %>
                
           
           <% } %>
          </div>
          
          </div>
          
          
        </div>
        </div>
      </div>
    <% }else{ %>
        <h2> No hay datos </h1>
        <% } %>
         
        <div id="mydiv" data-test=<%= datosCanvas %>></div> 
        <!-- <p id="prueba"></p> -->
     
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        let grafico;
       
        let datosEmpleados = <%- JSON.stringify(datosCanvas) %>;
        let datosMes;
        
       

        let datosZona = ["Seleciona una Zona", "Recepción", "Preescolar", "ZonasComunesPre", "Básicas"];
        //Primero vamos a hacer una condición de acuerdo al mes que se seleccione 
        let mes = document.getElementById("mes");
        let valorMes;
        let divPrincipal = document.getElementById("optionsMes");
        let div = document.createElement("div");
        div.id = "optionsContainer";
        divPrincipal.appendChild(div);
      
        mes.addEventListener('change', (event)=>{
          valorMes = event.target.value;
          if (valorMes == "nulo") {
            
            if (grafico) {
              grafico.destroy();
            }
           }
           else if (valorMes == "Enero"){
            div.innerHTML = "";
            datosMes = datosEmpleados.filter((dato) => dato.mes == "Enero");
            console.log(datosMes)
            crearElementosOption(datosZona, "zona" ,divPrincipal, div);
            let zona = document.getElementById("zona");
            recorrerZonas(datosMes, zona);
           }
           else if (valorMes == "Febrero"){
            div.innerHTML = "";
            datosMes = datosEmpleados.filter((dato) => dato.mes == "Febrero");
            console.log(datosMes)
            crearElementosOption(datosZona, "zona" ,divPrincipal, div);
            let zona = document.getElementById("zona");
            recorrerZonas(datosMes, zona);
           }

      })




   


        function crearCanva ( arregloControlesNombre , arregloControlesContador) {
          const ctx = document.getElementById('barra');
          if (grafico) {
            grafico.destroy();
          }
          grafico = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: arregloControlesNombre  ,
            datasets: [{
              label: 'Cantidad Tipo de control',
              data: arregloControlesContador, 
              borderWidth: 2,
            }]
          },  
          options: {  
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
            });
        }

        function crearTabla (datosMes , divT){
          // crear tabla
          console.log("Estoy en crear tabla")
          let divTabla =document.createElement("div") ;

          let tabla = document.createElement("table");
          tabla.id = "tabla";
          let thead = document.createElement("thead");
          let tr = document.createElement("tr");
          let th1 = document.createElement("th");
          th1.innerHTML = "Sede";

          let th2 = document.createElement("th");
          th2.innerHTML = "Zona";
          let th3 = document.createElement("th");
          th3.innerHTML = "Subzona";
          let th4 = document.createElement("th");
          th4.innerHTML = "Tipo control";
          let th5 = document.createElement("th");
          th5.innerHTML = "Fecha";
          let th6 = document.createElement("th");
          th6.innerHTML = "Empleado";
          tr.appendChild(th1);
          tr.appendChild(th2);
          tr.appendChild(th3);
          tr.appendChild(th4);
          tr.appendChild(th5);
          tr.appendChild(th6);
          thead.appendChild(tr);
          tabla.appendChild(thead);
          let tbody = document.createElement("tbody");
          for (let index = 0; index < datosMes.length; index++) {
            let tr = document.createElement("tr");
            let td1 = document.createElement("td");
            td1.innerHTML = datosMes[index].sede;
            let td2 = document.createElement("td");
            td2.innerHTML = datosMes[index].zona;
            let td3 = document.createElement("td");
            td3.innerHTML = datosMes[index].subzona;
            let td4 = document.createElement("td");
            td4.innerHTML = datosMes[index].control;
            let td5 = document.createElement("td");
            td5.innerHTML = datosMes[index].fecha;
            let td6 = document.createElement("td");
            td6.innerHTML = datosMes[index].nombre;
            tr.appendChild(td1);
            tr.appendChild(td2);
            tr.appendChild(td3);
            tr.appendChild(td4);
            tr.appendChild(td5);
            tr.appendChild(td6);
            tbody.appendChild(tr);
          }
          tabla.appendChild(tbody);
          divTabla.appendChild(tabla);
          divT.appendChild(divTabla);
          



        }

        function recorrerZonas (datosMes,zona){
          
        let arregloControlesContador= [0,0,0,0];
        let arregloControlesNombre = ['Limpieza', 'Desinfección', 'Higienización', 'Dotación'];

        // console.log(getArray[0])
        // var nombresEmpleados =  document.getElementById('mydiv').dataset.test
        // tomar select de la zona

        let resultado;
        // let div = document.getElementById("optionsContainer");
        let subtitulo = document.getElementById("subtitulo");
        let div2 = document.createElement("div");
            div2.id = "div2";
        let div3 = document.createElement("div");
            div3.id = "div3";
      
     
           

          zona.addEventListener('change', (event) => {
          resultado = event.target.value;
          console.log(resultado, "este es el resultado")
          if (resultado == "nulo") {
            subtitulo.innerHTML = "No hay datos";
            if (grafico) {
              grafico.destroy();
            }
          }else  if (resultado == "Recepción") {
              subtitulo.innerHTML = "Estadísticas de la zona " + "Recepción";
              console.log("entre a seleccionar recepcion")
            div2.innerHTML = ""; 
            var array = ["Selecciona una opción","Espacio Recepción", "Rectoria", "Dirección Administrativa", "Zona común"];
            crearElementosOption(array, resultado, div, div2);
            let select = document.querySelector('select[name="Recepción"]')
            console.log(select, "este es el select de recepcion")
            select.addEventListener('change', (event) => {
              let resultado2 = event.target.value;
              console.log(resultado2, "hey ")
              if (resultado2 == "Espacio Recepción") {
                
                subtitulo.innerHTML = "Estadísticas de la zona " + "Recepción" +" " + "Espacio Recepción";
                console.log("hola")
                realizarArregloTipoControl(resultado2, datosMes, resultado, arregloControlesNombre);
                crearTabla(datosMes, div2);
              }else if (resultado2 == "Rectoria") {

                subtitulo.innerHTML = "Estadísticas de la zona " + "Recepción" + " " + "Rectoria";
                realizarArregloTipoControl(resultado2, datosMes, resultado, arregloControlesNombre);




              }else if (resultado2 == "Dirección Administrativa") {
                
                subtitulo.innerHTML = "Estadísticas de la zona " + "Recepción" + " " + "Dirección Administrativa";
                realizarArregloTipoControl(resultado2, datosMes, resultado, arregloControlesNombre);


              }else if (resultado2 == "Zona común") {
              
                subtitulo.innerHTML = "Estadísticas de la zona " + "Recepción" + " " + "Zona común";
                realizarArregloTipoControl(resultado2, datosMes, resultado, arregloControlesNombre);

              }
            }) 
                                 
          }else if (resultado == "Preescolar") {
            div2.innerHTML = ""; 
            subtitulo.innerHTML = "Estadísticas de la zona " + "Preescolar";
           
            var array = ["Selecciona una opción","Prejardin", "Jardín", "Transición", "Salón de aislamiento y desinfección"];
            
            crearElementosOption(array, resultado, div, div2);
            let select = document.getElementById(resultado);
            select.addEventListener('change', (event) => {
              let resultado2 = event.target.value;
              console.log(resultado2, "este es el resultado2")
              if (resultado2 == "Prejardin") {
                subtitulo.innerHTML = "Estadísticas de la zona " + "Preescolar" + " " + "Prejardin";
                realizarArregloTipoControl(resultado2)

              }else if (resultado2 == "Jardín") {
                subtitulo.innerHTML = "Estadísticas de la zona " + "Preescolar" + " " + "Jardín";
                realizarArregloTipoControl(resultado2)
              
              }else if (resultado2 == "Transición") {
                subtitulo.innerHTML = "Estadísticas de la zona " + "Preescolar" + " " + "Transición";
                realizarArregloTipoControl(resultado2)
              }else if (resultado2 == "Salón de aislamiento y desinfección") {
                subtitulo.innerHTML = "Estadísticas de la zona " + "Preescolar" + " " + "Salón de aislamiento y desinfección";
                realizarArregloTipoControl(resultado2)
              }
            })

          }else if (resultado == "ZonasComunesPre") {
            div2.innerHTML = ""; 
            subtitulo.innerHTML = "Estadísticas de la zona " + "Preescolar";
            var array = ["Selecciona una opción","Patio de juegos", "Escalera", "Baños"];
            crearElementosOption(array, resultado, div, div2);
            let select = document.getElementById(resultado);
            select.addEventListener('change', (event) => {
              let resultado2 = event.target.value;
              console.log(resultado2, "este es el resultado2")
              if (resultado2 == "Patio de juegos") {
                subtitulo.innerHTML = "Estadísticas de la zona " + "Preescolar" + " " + "Patio de juegos";
                realizarArregloTipoControl(resultado2)
              }else if (resultado2 == "Escalera") {
                subtitulo.innerHTML = "Estadísticas de la zona " + "Preescolar" + " " + "Escalera";
                realizarArregloTipoControl(resultado2)
              }else if (resultado2 == "Baños") {
                subtitulo.innerHTML = "Estadísticas de la zona " + "Preescolar" + " " + "Baños";
                realizarArregloTipoControl(resultado2)
              }
            })

          }else if (resultado == "Básicas") {
            div2.innerHTML = "";  
        
            subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas";
            var array = ["Selecciona una opción", "Patio", "Baños y escaleras", "Salones piso 2-3 primaria", "Zona adminitrativa piso 2", "Salones piso 3-4 Bachillerato", "Laboratorios", "Cocina y escalera"];
            crearElementosOption(array, resultado, div, div2);
            let select = document.getElementById(resultado);
            select.addEventListener('change', (event) => {
              let resultado2 = event.target.value;
              console.log(resultado2, "este es el resultado2")
              if (resultado2 == "Selecciona una opción") {
                subtitulo.innerHTML = "No hay datos";
              }else if (resultado2 == "Patio") {
                div3.innerHTML = "";
             
                subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Patio";
                var arregloZonaBasicasEscogida = ["Selecciona una opción","Patio Básicas", "Cooperativa", "Salón de aislamiento y desinfección", "SHUT"];
                crearElementosOption(arregloZonaBasicasEscogida, resultado2, div2, div3);
                console.log("hola", resultado2)
                
                let selectBasicas = div3.firstElementChild;
                console.log(selectBasicas, "este es el selectBasicas")
                selectBasicas.addEventListener('change', (event) => {
                  let resultado3 = event.target.value;
                  console.log(resultado3, "este es el resultado3")
                  if (resultado3 == "Selecciona una opción") {
                    subtitulo.innerHTML = "No hay datos";
                  }else if (resultado3 == "Patio Básicas") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Patio" + " " + "Patio Básicas";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Cooperativa") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Patio" + " " + "Cooperativa";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Salón de aislamiento y desinfección") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Patio" + " " + "Salón de aislamiento y desinfección";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "SHUT") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Patio" + " " + "SHUT";
                    realizarArregloTipoControl(resultado3)
                  }
                })
              }else if (resultado2 == "Baños y escaleras") {
                div3.innerHTML = "";
                subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Baños y escaleras";
                var arregloZonaBasicasEscogida =["Selecciona una opción","Escaleras piso 1-2", "Baños (piso 1.5)", "Escaleras piso 2-3", "Baños (piso 2.5)", "Escaleras piso 3-4", "Baños (piso 3.5)", "Escaleras piso 4-5", "Baños (piso 4.5)"];
                crearElementosOption(arregloZonaBasicasEscogida, resultado2, div2, div3);
                let selectBasicas = div3.firstElementChild;
                selectBasicas.addEventListener('change', (event) => {
                  let resultado3 = event.target.value;
                  console.log(resultado3, "este es el resultado3")
                  if (resultado3 == "Selecciona una opción") {
                    subtitulo.innerHTML = "No hay datos";
                  }else if (resultado3 == "Escaleras piso 1-2") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Baños y escaleras" + " " + "Escaleras piso 1-2";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Baños (piso 1.5)") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Baños y escaleras" + " " + "Baños (piso 1.5)";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Escaleras piso 2-3") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Baños y escaleras" + " " + "Escaleras piso 2-3";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Baños (piso 2.5)") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Baños y escaleras" + " " + "Baños (piso 2.5)";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Escaleras piso 3-4") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Baños y escaleras" + " " + "Escaleras piso 3-4";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Baños (piso 3.5)") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Baños y escaleras" + " " + "Baños (piso 3.5)";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Escaleras piso 4-5") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Baños y escaleras" + " " + "Escaleras piso 4-5";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Baños (piso 4.5)") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Baños y escaleras" + " " + "Baños (piso 4.5)";
                    realizarArregloTipoControl(resultado3)
                  }
                })
              }else if (resultado2 == "Salones piso 2-3 primaria") {
                div3.innerHTML = "";
                subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Salones piso 2-3 primaria";
                var arregloZonaBasicasEscogida = ["Selecciona una opción","Primero", "Segundo", "Tercero", "Cuarto", "Quinto"];
                crearElementosOption(arregloZonaBasicasEscogida, resultado2, div2, div3);
                let selectBasicas = div3.firstElementChild;
                selectBasicas.addEventListener('change', (event) => {
                  let resultado3 = event.target.value;
                  console.log(resultado3, "este es el resultado3")
                  if (resultado3 == "Selecciona una opción") {
                    subtitulo.innerHTML = "No hay datos";
                  }else if (resultado3 == "Primero") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Salones piso 2-3 primaria" + " " + "Primero";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Segundo") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Salones piso 2-3 primaria" + " " + "Segundo";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Tercero") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Salones piso 2-3 primaria" + " " + "Tercero";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Cuarto") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Salones piso 2-3 primaria" + " " + "Cuarto";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Quinto") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Salones piso 2-3 primaria" + " " + "Quinto";
                    realizarArregloTipoControl(resultado3)
                  }
                })

              }else if (resultado2 == "Zona adminitrativa piso 2") {
                div3.innerHTML = "";
                subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Zona adminitrativa piso 2";
                var arregloZonaBasicasEscogida = ["Selecciona una opción","Oficina coordinador 1", "Oficina coordinador 2", "Enfermería", "Zona común coordinación", "Psicología", "Sala de profesores"];
                crearElementosOption(arregloZonaBasicasEscogida, resultado2, div2, div3); 
                let selectBasicas = div3.firstElementChild;
                selectBasicas.addEventListener('change', (event) => {
                  let resultado3 = event.target.value;
                  console.log(resultado3, "este es el resultado3")
                  if (resultado3 == "Selecciona una opción") {
                    subtitulo.innerHTML = "No hay datos";
                  }else if (resultado3 == "Oficina coordinador 1") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Zona adminitrativa piso 2" + " " + "Oficina coordinador 1";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Oficina coordinador 2") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Zona adminitrativa piso 2" + " " + "Oficina coordinador 2";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Enfermería") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Zona adminitrativa piso 2" + " " + "Enfermería";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Zona común coordinación") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Zona adminitrativa piso 2" + " " + "Zona común coordinación";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Psicología") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Zona adminitrativa piso 2" + " " + "Psicología";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Sala de profesores") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Zona adminitrativa piso 2" + " " + "Sala de profesores";
                    realizarArregloTipoControl(resultado3)
                  }
                })  

              
              }else if (resultado2 == "Salones piso 3-4 Bachillerato") {
                div3.innerHTML = "";
                subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Salones piso 3-4 Bachillerato";
                var arregloZonaBasicasEscogida = ["Selecciona una opción","Sexto", "Séptimo", "octavo", "Noveno", "Décimo", "Once"];
                crearElementosOption(arregloZonaBasicasEscogida, resultado2, div2, div3);
                let selectBasicas = div3.firstElementChild;
                selectBasicas.addEventListener('change', (event) => {
                  let resultado3 = event.target.value;
                  console.log(resultado3, "este es el resultado3")
                  if (resultado3 == "Selecciona una opción") {
                    subtitulo.innerHTML = "No hay datos";
                  }else if (resultado3 == "Sexto") {
          
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Salones piso 3-4 Bachillerato" + " " + "Sexto";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Séptimo") {
              
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Salones piso 3-4 Bachillerato" + " " + "Séptimo";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Octavo") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Salones piso 3-4 Bachillerato" + " " + "Octavo";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Noveno") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Salones piso 3-4 Bachillerato" + " " + "Noveno";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Décimo") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Salones piso 3-4 Bachillerato" + " " + "Décimo";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Once") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Salones piso 3-4 Bachillerato" + " " + "Once";
                    realizarArregloTipoControl(resultado3)
                  }
                })

              }else if (resultado2 == "Laboratorios") {
                div3.innerHTML = "";
                subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Laboratorios";
                var arregloZonaBasicasEscogida = ["Selecciona una opción","Sala de Informática", "Laboratorios de Ciencia", "Comedor"];
                crearElementosOption(arregloZonaBasicasEscogida, resultado2, div2, div3);
                let selectBasicas = div3.firstElementChild;
                selectBasicas.addEventListener('change', (event) => {
                  let resultado3 = event.target.value;
                  console.log(resultado3, "este es el resultado3")
                  if (resultado3 == "Selecciona una opción") {
                    subtitulo.innerHTML = "No hay datos";
                  }else if (resultado3 == "Sala de Informática") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Laboratorios" + " " + "Sala de Informática";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Laboratorios de Ciencia") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Laboratorios" + " " + "Laboratorios de Ciencia";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Comedor") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Laboratorios" + " " + "Comedor";
                    realizarArregloTipoControl(resultado3)
                  }
                })

              }else if (resultado2 == "Cocina y escalera") {
                div3.innerHTML = "";
                subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Cocina y escalera";
                var arregloZonaBasicasEscogida = ["Selecciona una opción","Escalera piso 5-6", "Cocina"];
                crearElementosOption(arregloZonaBasicasEscogida, resultado2, div2, div3);
                let selectBasicas = div3.firstElementChild; 
                selectBasicas.addEventListener('change', (event) => {
                  let resultado3 = event.target.value;
                  console.log(resultado3, "este es el resultado3")
                  if (resultado3 == "Selecciona una opción") {
                    subtitulo.innerHTML = "No hay datos";
                  }else if (resultado3 == "Escalera piso 5-6") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Cocina y escalera" + " " + "Escalera piso 5-6";
                    realizarArregloTipoControl(resultado3)
                  }else if (resultado3 == "Cocina") {
                    subtitulo.innerHTML = "Estadísticas de la zona " + "Básicas" + " " + "Cocina y escalera" + " " + "Cocina";
                    realizarArregloTipoControl(resultado3)
                  }
                })
              }
            })

          } 

          
          })
        }

        function crearElementosOption(array, zona, div, divBasicas) {
          let select = document.createElement("select");
          select.id = zona;
          select.name = zona;
          for (var i = 0; i < array.length; i++) {
              var option = document.createElement("option");


              option.id = array[i];
              option.value = array[i];  
              option.text = array[i];
              select.appendChild(option);
          }
          divBasicas.appendChild(select);
          div.appendChild(divBasicas);
          };

          function realizarArregloTipoControl (resultado2, datosEmpleados, resultado, arregloControlesNombre){
            console.log("Aqui estoy")
            let arregloControlesContador= [0,0,0,0];
                datosEmpleados.forEach(element => {
                  
                  if (element.zona == resultado ){
                    console.log(element, "este es el objeto")
                    element.control.forEach(tipo => {
                    
                    if(tipo.clave == resultado2){
                      if (!Array.isArray(tipo.valor)) {
                        if (tipo.valor == "Limpieza") {
                          arregloControlesContador[0] += 1;
                        }else if (tipo.valor == "Desinfección") {
                          arregloControlesContador[1] += 1;
                        }else if (tipo.valor == "Higienización") {
                          arregloControlesContador[2] += 1;
                        }else if (tipo.valor == "Dotación") {
                          arregloControlesContador[3] += 1;
                        }
                        console.log(arregloControlesContador, "este es el arreglo")
                       }else {

                        tipo.valor.forEach(element => {
                          if (element == "Limpieza") {
                            arregloControlesContador[0] += 1;
                          }else if (element == "Desinfección") {
                            arregloControlesContador[1] += 1;
                          }else if (element == "Higienización") {
                            arregloControlesContador[2] += 1;
                          }else if (element == "Dotación") {
                            arregloControlesContador[3] += 1;
                          }
                        });
                        console.log(arregloControlesContador, "este es el arreglo")
                      }
                      
                    }
                    })
                  }

              });
              crearCanva (arregloControlesNombre, arregloControlesContador);
              
          }
       
    </script>
    
</body>
</html>