*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
}

:root {
    --primary-color: #D96AA7;
    --secondary-color: #257ead;
    --complimentary-color: #88BFB5;
    --contrast-color: #F2E527;
    --light-color: #D2A9D9;
    }
    
    nav a {
     
        color: #fff;
        text-decoration: none;
        padding: 4px;
        text-align: center;
          font-size: 20px;
    }
    nav {
        position: fixed;
        left: 0;
        z-index: 50;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 100vh;
        background: #257ead;
    }

    /*crea un mediaquery para nav con maximo de 600px */
    @media only screen and (max-width: 600px) {
      nav {
        width:  33%;
      height: 100%;
      }
    }

    @media only screen and (min-width: 601px) and (max-width: 800px) {
      nav {
        width:  25%;
      height: 100%;
      }
    }

h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    position:relative;
display:block;
    margin: 0px 150px 0px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    margin-left: 100px;
}

.fl-table {
 
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #1a4269;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* crea un mediaquery para fl-table con maximo 600px */
@media (max-width: 600px) {
    .fl-table {
        font-size: 12px;
        margin-left: 2%;

    }
}

/* crea un mediaquery para fl-table con minimo 600px y maximo 800*/
@media (min-width: 600px) and (max-width: 800px) {
    .fl-table {
        font-size: 10px;
        margin-left: 12%;
    }
}

@media (min-width: 600px) and (max-width: 800px) {
    .fl-table td {
        font-size: 10px;
        
    }
}
