
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
body{
    font-family: 'Source Serif Pro', serif;
}
body {
    background:url('https://i.ibb.co/RvwXVSM/99840.jpg');
    margin:0px;
    font-family: 'Ubuntu', sans-serif;
      background-size: 100% 110%;
  }
  h1, h2, h3, h4, h5, h6, a {
    margin:0; padding:0;
  }
  .login {
    margin:0 auto;
    max-width:500px;
  }
  .login-header {
    color:rgb(31, 34, 233);
    text-align:center;
        font-size: 200%;
        background: -webkit-linear-gradient(rgb(157, 136, 231), rgb(20, 34, 158));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
  }
  /* .login-header h1 {
     text-shadow: 0px 5px 15px #000; */
  
  .login-form {
    border:15px solid #fff;
    background:#ffffff;
    border-radius:10px;
    box-shadow:0px 0px 10px #000;
  }
  .login-form h3 {
    text-align:left;
    margin-left:50px;
    color:rgb(34, 34, 34);
  }
  .login-form {
    box-sizing:border-box;
    padding-top:15px;
      padding-bottom:5%;
    margin:10% auto;
    text-align:center;
  }
  .login input[type="text"],
  .login input[type="password"] {
    max-width:400px;
      width: 80%;
    line-height:3em;
    font-family: 'Ubuntu', sans-serif;
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #3168b9;
    outline:none;
    padding-left:10px;
    box-shadow:0px 0px 4px #000;
  }
  .login-form input[type="button"] {
    height:30px;
    width:100px;
    background:rgb(230, 231, 236);
    border:2px solid #5a43da;
  
    border-radius:20px;
    color: rgb(44, 73, 236);
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
    box-shadow:0px 0px 4px #000;
  }
  .sign-up{
    color:#c21b1b;
    margin-left:-70%;
    cursor:pointer;
    text-decoration:underline;
  }
  .no-access {
    color:#000000;
    margin:20px 0px 20px -57%;
    text-decoration:underline;
    cursor:pointer;
  }
  .try-again {
    color:#f2f2f2;
    text-decoration:underline;
    cursor:pointer;
  }
  
  /*Media Querie*/
  @media only screen and (min-width : 150px) and (max-width : 530px){
    .login-form h3 {
      text-align:center;
      margin:0;
    }
    .sign-up, .no-access {
      margin:10px 0;
    }
    .login-button {
      margin-bottom:10px;
    }
    
  }